[submodule "ccpp-physics"]
        path          = schemes/ccpp-physics
        url           = https://github.com/cacraigucar/ccpp-physics
        fxsparse      = ../.ccpp_physics_sparse_checkout
        fxtag         = e6fc5589
        fxrequired    = AlwaysRequired
        fxDONOTUSEurl = https://github.com/NCAR/ccpp-physics
